html, body, #root {
  height: 100%;
  margin: 0;
    background: linear-gradient(to bottom right, #ccd1e8, #3a4163) no-repeat;
      background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
}